html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

a { color: inherit; text-decoration: none;}img{ width: 100%; height: auto; display: block;}



body#formPage {
  background: rgb(252,232,240);
  background: linear-gradient(180deg, rgba(252,232,240,1) 0%, rgba(252,232,241,1) 22%, rgba(252,232,240,1) 22%, rgba(252,232,240,1) 73%, rgba(153,185,226,1) 73%, rgba(153,185,226,1) 97%, rgba(252,232,240,1) 97%); 
 
}

/* background: rgb(252,232,240);
  background: linear-gradient(180deg, rgba(252,232,240,1) 0%, rgba(252,232,241,1) 2%, rgba(205,5,44,1) 2%, rgba(205,5,44,1) 22%, rgba(252,232,240,1) 22%, rgba(252,232,240,1) 73%, rgba(153,185,226,1) 73%, rgba(153,185,226,1) 97%, rgba(252,232,240,1) 97%);  */

button, textarea, body, p {
   font-family: 'Arsenal', sans-serif;
}

textarea {
  resize: none;
}

.main-form {
  height: 100vh;
 }

/* #FCE8F1;
#cd052c;
#99b9e2
#c0abf1 */

.redStyleBox {
  background-color: #cd052c;
  position: absolute;
  height: 38%;
  width: 70%;
  left: 0;
}

#cb-card {
  min-height: 110vh;
}

.hideSection {
  display: none !important;
}

h1 {
  color: #FCE8F1;
 font-size: 3rem;
 font-weight: 600;
}
h2 {
  color: #99b9e2;
  font-weight: 600;
  font-size: 1.6rem;
}
h3 {
  /* margin-top: 3%; */
  color: #cd052c;
  font-size: 3rem;
}

h1, h3 {
  font-family: 'Dancing Script', cursive;
   
}

label {
  font-size: 1.2rem;
  color: #99b9e2;

}

.collapse.show {
  max-height: unset;
  height: auto;
  transition: all .3s ease-out;
}

.collapse.show.no-show {
  max-height: 0px;
}

.text-centered {
  text-align: center;
}

#picture-frame {
  border-radius: 8px;
  min-height: 400px;
  background-color: transparent;
}
#picture-frame.still-loading {
  background-color: #fff;
}

.card-body {
  background-color: #FCE8F1;
  border: none;
  color: #c0abf1;
  font-weight: 600;
}

.btn.message-btn{
  font-size: 1.5rem;
  font-weight: 600;
}

.btn,
textarea {
  border-radius: 8px;
  transition: all .2s ease-out;
}

.btn.btn-wireframe {
  border: 2px solid #c0abf1;
  color: #99b9e2;
}

.btn.btn-wireframe:hover {
  background-color: #c0abf1;
  color: #FCE8F1;
}

.btn.btn-wireframe:focus {
  box-shadow: none;

}

.btn.btn-blue {
  background-color: #99b9e2;
  border: 2px solid #99b9e2;
  color: #cd052c;
}

.btn.btn-blue:hover {
  border: 2px solid #cd052c;
}

.socials {
  color: #cd052c;
}

.socials a {
  font-size: 3.6rem;
  transition: all .2s ease-out;
}

.socials a:hover {
  color: #FCE8F1;;
}

.modal-dialog {
    max-width: 800px;
    margin: 14% auto;
}

.modal-header {
  background: #cd052c;
  color: #FCE8F1;
}

.modal-body label {
  color: #c0abf1;
}

.modal-body {
  background-color: #FCE8F1;
}

.modal-body .form-control {
  border: 2px solid #c0abf1;
  background-color: #FCE8F1;
}

.divider {
  height:22px;
}

#userAuth {
  height: 100vh;
}

#userAuth h1 {
  color: #99b9e2;;
}

#card-form {
  background-color: #FCE8F1;
  padding: 20px;
  border-radius: 0.25rem;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.loader {
  /* margin: auto; */
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #c0abf1;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.modal-body #card-form {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.wrap-element {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
      }
      .wrapped-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }



.video-js {
    width: auto;
    height: 430px;
    z-index: 100;
    background-color: transparent;
}
.__web-inspector-hide-shortcut__{
  visibility: visible !important;
}

.video-js .vjs-big-play-button {
    top: calc(50% - 1.63332em) !important;
    left: calc(50% - 1.5em) !important;
}
.video-js .vjs-control-bar {
    width: 90%;
    left: 5%;
    bottom: 18px;
}
.video-js .vjs-fullscreen-control {
    cursor: pointer;
    flex: none;
    position: absolute;
    right: 0;
    bottom: 100%;
    background-color: rgba(43, 51, 63, 0.7);
}

.footer-image {
  background-image: url(assets\media\holidayFooter.png);
}

@media (max-width: 1400px) {
  .divider {
    height: 85px;
  }
}

@media (max-width: 1200px) {
  .divider {
    height: 110px;
  }
}

@media (max-width: 768px){
  #my-video {
    max-width: 500px;
    max-height: 700px;
    margin: auto;
  }

  

}

@media(min-width:1200px) {
  .video-js .vjs-control-bar {
    width: 90%;
    max-width: 230px;
    left: 32.5%;
    bottom: 18px;
}
}

@media(min-width: 992px) {
  .video-js .vjs-control-bar {
    left: 29.5%;
  }

}

@media(min-width: 768px) {
  .video-js .vjs-control-bar {
    left: 23%;
  }
}

@media (min-width: 576px) {
   .video-js .vjs-control-bar {
     left: 14%;
   }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}